

<div id="gradient"></div>
<form class="searchbox" action="users#new" method="get">
  <label for=":q"> <input id="q" placeholder="Search for a book.." name="q" type="text">
  </form>




<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
